@font-face {
    font-family: 'EmblemaOne';
    src: url('../assets/fonts/EmblemaOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.trainers-container{
    width: 100%;
    height: 600px;
    background-color: #fff;
    border: 1px solid #000;
    display: block;
    position: relative;
}

.trainer-images-section h1{
    color: #000;
    text-transform: uppercase;
    font-family: EmblemaOne, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: clamp(24px, 4vw, 2.5rem);
    color: #4B5320;
    margin: 20px 0px 0px 20px;
    text-align: center;
}

.trainer-content{
    width: 100%;
    display: flex;
}

.trainer-images-section{
    width: 100%;
    height: 88vh;
    background: #fff;
}

/*.trainer-description-section{
    background-color: #4B5320;
    width: 100%;
    height: 90vh;
    color:#000;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #fff;
}*/

.trainer-slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 1000px;
}
.trainer-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
    opacity: 60%;
}

.arrow-button{
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #4B5320;
    transition: color 0.3s ease;
}

.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    max-width: 1200px;
    height: 75vh;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card{
    appearance: none;
    border: 0;
    padding: 0;
    flex: 1 1 0%;
    height: 75vh;
    border-radius: 22px;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: end;
    overflow: hidden;
    transition: flex-grow 0.6s ease;
    will-change: flex-grow;
    box-shadow: 0 10px 20px rgba(75,83,32,35);
    width: 350px;
    transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    margin-bottom: 30px;
    font-family: 'FiraSansCondensedRegular',sans-serif;
    font-size: 18px;
    text-shadow: 2px 1px #4B5320;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity:1;
}
.card.center{
    z-index: 10;
    transform: sclae(1.1) translateZ(0);
}

.card.left-1,
.card.right-1{
    z-index: 5;
    transform: scale(0.9) translateZ(-100px);
}
.card.left-2,
.card.right-2{
    z-index: 1;
    transform: scale(0.8) translateZ(-300px);
    opacity: 0.7;
}
.card.left-1 img,
.card.left-2 img,
.card.right-1 img,
.card.right-2 img{
    filter: grayscale(100%);
}
.card.left-1{
    transform: translateX(-200px) scale(0.9) translateZ(-100px);
}
.card.left-2{
    transform: translateX(-400px) scale(0.8) translateZ(-300px);
}
.card.right-1{
    transform: translateX(200px) scale(0.9) translateZ(-100px);
}
.card.right-2{
    transform: translateX(400px) scale(0.8) translateZ(-100px);
}
.card.hidden{
    opacity: 0;
    pointer-events: none;
}

.trainer-dots-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 30px;
  background-color: #fff;
}

.trainer-dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.trainer-active-dot{
  background-color: #717171;
  transform: scale(1.2);
}
.arrow-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4B5320;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 20;
    transition: all 0.3s ease;
    font-size: 1.5rem;
    border: none;
    padding-bottom: 4px;
}

.arrow-button:hover {
    transform: translateY(-50%) scale(1.1);
}
.arrow-button.left {
    left: 20px;
    padding-right: 3px;
}
.arrow-button.right {
    right: 20px;
    padding-left: 3px;
}
@media (max-width: 768px) {
    
}